<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.1.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  	http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx">

    <import resource="classpath:/jsfSpringScope.xml"/>

    <bean id="dataSourceAgt" class="org.springframework.jndi.JndiObjectFactoryBean">
        <!--property name="jndiName" value="jdbc/db_agentes"-->
        <property name="jndiName" value="AASEG"/>
    </bean>

    <bean id="txmProceso" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSourceAgt" />
    </bean>

    <!-- Configuracion para el acceso a la base de datos de agentes  -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="mx.com.ebs.inter.data.dao.agt" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryAgt" />
    </bean>

    <bean id="dataSourceProc" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="jdbc/db_facturador"/>
        <!--property name="jndiName" value="AASEG"/-->
    </bean>
    <bean id="txmPortal" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSourceProc" />
    </bean>

    <bean id="dataSourceFacbanco" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="jdbc/db_facbanco"/>
        <!--property name="jndiName" value="BCORP"/-->
    </bean>
    <bean id="txmFacbanco" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSourceFacbanco" />
    </bean>



    <bean id="sqlSessionFactoryAgt" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSourceAgt" />
        <property name="mapperLocations" value="classpath:mx/com/ebs/inter/data/xml/agt/*.xml" />
        <property name="configLocation" value="classpath:mybatis-config.xml.cfg"/>
    </bean>


    <!-- Configuracion para el acceso a la base de datos del portal  -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="mx.com.ebs.inter.data.dao.proc" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryProc" />
    </bean>
    <bean id="sqlSessionFactoryProc" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSourceProc" />
        <property name="mapperLocations" value="classpath:mx/com/ebs/inter/data/xml/proc/*.xml" />
        <property name="configLocation" value="classpath:mybatis-config.xml.cfg"/>
    </bean>

    <!-- Configuracion para el acceso a la base de datos de emision  -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="mx.com.ebs.inter.data.dao.facbanco" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryFacbanco" />
    </bean>
    <bean id="sqlSessionFactoryFacbanco" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSourceFacbanco" />
        <property name="mapperLocations" value="classpath:mx/com/ebs/inter/data/xml/facbanco/*.xml" />
        <property name="configLocation" value="classpath:mybatis-config.xml.cfg"/>
    </bean>

    <context:component-scan base-package="mx.com.ebs.inter" />
    <context:annotation-config />
    <context:property-placeholder location="classpath*:portal.properties"/>
    <mvc:annotation-driven />
    <bean id="automaticInvoicesBean" lazy-init="true" class="mx.com.ebs.inter.bean.AutomaticInvoicesBean" scope="view"/>
    <bean id="changePasswordBean" class="mx.com.ebs.inter.bean.ChangePasswordBean" scope="view"/>
    <bean id="invoiceLoaderBean" class="mx.com.ebs.inter.bean.InvoiceLoaderBean" scope="view"/>
    <bean id="invoicesBean" lazy-init="true" class="mx.com.ebs.inter.bean.InvoicesBean" scope="view"/>
    <bean id="invoicesReceivedBean" lazy-init="true" class="mx.com.ebs.inter.bean.InvoicesReceivedBean" scope="view"/>
    <bean id="mcfdBean" lazy-init="true" class="mx.com.ebs.inter.bean.McfdBean" scope="view"/>
    <bean id="menuManagerBean" class="mx.com.ebs.inter.bean.MenuManagerBean" scope="view"/>
    <bean id="procAgtFelEnvioBean" lazy-init="true" class="mx.com.ebs.inter.bean.ProcAgtFelEnvioBean" scope="view"/>
    <bean id="processManagerBean" class="mx.com.ebs.inter.bean.ProcessManagerBean" scope="view"/>
    <bean id="recAccesoBean" class="mx.com.ebs.inter.bean.RecAccesoBean" scope="view"/>
    <bean id="recAccesoClientesBean" class="mx.com.ebs.inter.bean.RecAccesoClientesBean" scope="view"/>
    <bean id="recFeloggerAgtBean" lazy-init="true" class="mx.com.ebs.inter.bean.RecFeloggerAgtBean" scope="view"/>
    <bean id="recFeloggerBean" lazy-init="true" class="mx.com.ebs.inter.bean.RecFeloggerBean" scope="view"/>
    <bean id="servletCallerBean" class="mx.com.ebs.inter.bean.ServletCallerBean" scope="view"/>
    <bean id="userMenuBean" class="mx.com.ebs.inter.bean.UserMenuBean" scope="session"/>
    <bean id="onlineInvoices" class="mx.com.ebs.inter.bean.OnlineInvoices" scope="view"/>
    <bean id="exporterBean" class="mx.com.ebs.inter.bean.ExporterBean" scope="view"/>
</beans>